@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,600;1,300&display=swap');

 /* animation definitions */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* HTML shit */
body {
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}

.section-header, .image-asset {
  animation: fadeIn 0.5s ease forwards;
}

#playtest-header-text {
  font-size: 36px;
  position: absolute;
  left: 10px;
  top: 10px;
  color: #141134;
  transition: color 0.8s ease, left 0.4s ease, top 0.4s ease;
  z-index: 3;
}

#webpageInput {
  font-family: 'Roboto Mono';
  font-weight: bold;
}

#asset-container-div {
  background-color: #f6f6f6;
  position: absolute;
  transition: width 0.8s ease, height 0.8s ease;
  border-radius: 20px;
  transform: translateY(20px);
  display: flex;
  flex-direction: column;
}

#small-text-row, #brand-section, #assets-column, #keywords-column, #campaign-identity-row, #updateButton {
  opacity: 0;
  transition: opacity 0.8s ease;
}

#small-text-row, #brand-row, #image-assets-row, #color-assets-row {
  display: flex;
  flex-direction: row;
  animation: fadeIn 0.5s ease forwards;
}

#small-text-row {
  display: inline-flex;
  justify-content: space-between;
}

#keywords-column {
  position: relative;
}

#keywords-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 50px; /* Adjust this value based on the desired minimum height */
}

#keywords-row {
  /* position: absolute; */
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 22px;
  margin-top: 2vh;
  max-width: calc(35vw - 40px); /* Adjust the value 40px to control the space before reaching the end of the screen width */
  gap: 4px; /* Add space between buttons */
  animation: fadeIn 0.5s ease forwards;
}

.keyword-tag {
  position: relative;
  margin-right: 8px;
  margin-bottom: 4px;
  background-color: lightgray;
  color: rgb(90, 90, 90);
  padding: 3px 8px;
  border-radius: 20px;
  animation: fadeIn 0.5s ease forwards;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.keyword-tag:hover {
  background-color: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.delete-button {
  position: absolute;
  right: -8px;
  top: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4d4d;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff1a1a;
}

#brand-row {
  justify-content: space-evenly;
  display: inline-flex;
}

#image-assets-row {
  padding-left: 18px;
  margin-bottom: 12px;
}

.image-asset {
  opacity: 0.0;
  transition: opacity 0.8s ease;
  margin-right: 12px;
}

.hex-color {
  transition: opacity 0.5s ease;
  background-color: #141134;
  color: white;
  padding: 2px 6px;
  transform: translate(6px, 46px);
  position: absolute;
  border-radius: 3px;
}

.hex-circle {
  transition: opacity 0.4s ease;
  animation: fadeIn 0.5s ease forwards;
  opacity: 0.0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 16px;
}

.upload-button {
  display: flex;
  justify-content: center;
}

#plus-icon-clickable {
  padding: 0px 22px;
  margin-top: 0px;
  font-size: 50px;
  border: dashed 2px;
  border-radius: 6px;
  color: #b3bcc1;
  transform: translateY(0px);
}

#hex-plus-clickable {
  padding: 0px 10px;
  margin-top: 0px;
  font-size: 30px;
  border: dashed 2px;
  border-radius: 50%;
  color: #b3bcc1;
  transform: translateY(1px);
  margin-left: 12px;
}

#campaign-identity-row {
  display: flex;
  flex-direction: column;
}

#update-generated-content {
  display: flex;
  flex-direction: row;
}

#loading-brand-icon {
  width: 50px;
  height: 50px;
}

#input-field {
  border-radius: 20px;
  padding: 60px 80px;
  background-color: #141134;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#campaign-identity-row {
  font-family: 'Roboto Mono', monospace;
  width: 420px;
  height: 262px;
  transition: width 0.4s ease, height 0.4s ease;
}

#brand-messaging-field {
  font-family: 'Roboto Mono', monospace;
  margin-left: 20px;
  text-align: left;
  vertical-align: top;
  white-space: wrap;
  height: 80px;
}

#input-field h2 {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 0px 20px;
  display: inline;
}

#input-field p {
  margin: 20px 20px;
  padding: 0px;
  color: white;
  font-size: 16px;
  text-align: left;
  width: 350px;
}

#input-field input {
  border-radius: 10px;
  border: none;
  padding: 4px;
  padding-left: 10px;
  margin: 2px 20px;
  margin-top: 16px;
  font-size: 18px;
  height: 40px;
  width: 340px;
  transition: width 0.1s ease, padding 0.1s ease, padding-left 0.1s ease;
}

#input-field button {
  margin-top: 30px;
  padding: 6px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #7EB744;
  width: 180px;
  height: 40px;
  margin-bottom: 30px;
  font-size: large;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

#splash-logo {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 200px;
  height: 200px;
  z-index: 1;
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  z-index: 4;
}

#vid-container {
  width: 50%;
  height: 50%;
  background-color: white;
  position: absolute;
  z-index: 5;
}

#canvas {
  transition: transform 0.2s ease;
}

#video {
  transform: translate(60px, 30px);
}